@media print {
  .tm-team-description-container {
    max-width: 100%;
  }

  .tm-main-content h2.tm-section-title,
  .tm-team-description-container p.tm-section-description {
    text-align: center;
    text-transform: uppercase;
  }

  p.tm-section-description {
    font-size: 14px;
  }

  .tm-main-content,
  .tm-content-box {
    margin-bottom: 0;
  }

  .tm-team-img,
  #about img,
  .tm-content-box img,
  section::before,
  .tm-sidebar,
  .blocks .tm-content-box,
  .tm-content-box .text::after,
  ol.carousel-indicators,
  section #contact {
    display: none;
  }

  .tm-content-box>.tm-banner>.tm-banner-inner>img {
    display: block;
  }

  .padding-medium,
  #tmCarousel,
  .tm-main-content,
  .tm-banner {
    padding: 0
  }

  section.heading .padding-medium,
  #tmCarousel,
  section#blocks,
  footer,
  .blocks,
  section:first-of-type {
    margin-top: 18px;
  }

  h2 {
    font-weight: 300;
  }

  section.tm-content-box>div.padding-medium>ol {
    list-style-type: none;
    width: 50%;
    margin: 0 auto;
  }

  section.tm-content-box ol li:nth-child(even) {
    text-align: right;
  }

  p.tm-section-description {
    text-indent: 0;
  }
}

.tm-nav-item:hover {
  background-color: lightskyblue;
  color: #fff;
}

.tm-content-box,
.tm-sidebar,
.blocks {
  box-shadow: 0px 0px 10px rgba(61, 55, 61, 0.7);
}

.tm-content-box {
  display: flex;
  flex-direction: row-reverse;
}

section::before {
  content: '';
  border: 20px solid transparent;
  border-left: 20px solid lightskyblue;
  border-top: 20px solid lightskyblue;
}

.text::after {
  content: "New";
  color: red;
  vertical-align: top;
  font-size: 10px;
  font-weight: bold;
  font-variant: small-caps;
}

.heading ol {
  list-style-type: decimal-leading-zero
}

.heading a:hover {
  color: red;
  font-weight: bold;
}

.heading a:hover::before {
  content: ">";
}

.heading div {
  width: 100%;
}

.heading h2 {
  color: lightskyblue;
  text-align: center;
}

.tm-content-header {
  background: linear-gradient(burlywood, lightskyblue);
}

.tm-banner-inner {
  background-color: #fff;
}

.tm-banner {
  width: 100%;
}

.tm-banner-text {
  bottom: 0;
  text-shadow: 0px 8px 2px lightskyblue;
  letter-spacing: 3px;
  word-spacing: 5px;
  animation: bannerText 3s ease-out;
}

@keyframes bannerText {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.tm-team-description-container {
  align-self: center;
}

.blocks .tm-content-box {
  box-shadow: none;
}

.blocks .tm-content-box:nth-child(2) {
  display: none;
}

.tm-section-title {
  text-align: center;
}

.tm-section-description {
  text-indent: 25px;
  line-height: 30px;
  font-family: cursive;
  font-weight: 100;
}

.tm-section-title-box:hover {
  background-color: lightskyblue;
  color: #fff;
}

.gallery-container {
  width: 100%;
}

.box-work {
  padding: 10px;
}

.box-work p::first-letter {
  font-weight: bold;
}

.box-work:nth-child(even) {
  background-color: lightskyblue;
}

.box-work:nth-child(even) {
  color: #fff;
}

#ideas+.tm-content-box {
  display: block;
}

section:last-of-type .tm-section-title {
  text-align: right;
}

input[id="contact_subject"] {
  background: url(../img/email-icon.png) right 10px bottom 5px no-repeat;
  background-size: 25px;
  resize: none;
}

.form-group input {
  border: none;
  border-bottom: 1px solid lightskyblue;
  outline: none;
}

.form-control:focus {
  background-color: lightskyblue;
  box-shadow: none;
}

.form-group textarea:focus {
  background-color: #fff;
}

.submit-btn {
  float: right;
  border: 2px solid lightskyblue;
  background-color: #fff;
  color: lightskyblue;
  height: 50px;
  width: 120px;
  font-size: 14px;
  border-radius: 0;
}

.submit-btn:hover {
  background-color: lightseagreen;
  border-color: lightseagreen;
}