$imageBg: '../img/m-h-day.jpg';
$fontHead: 'Hind', sans-serif;
$fontMain: 'Source Sans Pro', sans-serif;
$colorContent: #2C2F3C;
$colorAdd: #fff;
$colorFooter: #A1A2A0;
$colorBtn: #699900;
$colorGrad: #2758DD;
$colorElem: #0CA1C8;
$colorFooter: #A1A2A0;
$bg-colores: ('add':  #1B1E2A, 'main': #fff);