$imageBg: '../img/m-h-night.jpg';
$fontHead: 'Fresca', sans-serif;
$fontMain: 'Source Sans Pro', sans-serif;
$colorContent: #fff;
$colorAdd: #fff;
$colorFooter: #A1A2A0;
$colorBtn: #E4AE00;
$colorGrad: #932753;
$colorElem: #FF4D30;
$colorFooter: #D2CBAD;
$bg-colores: ('add':  #383D4F, 'main': #1B1E2A);